
{{#each users}}
    <li id="{{id}}" class="person" draggable="true">
        <span class="personContainer">
            <img src="{{photo_100}}" class="avatar"/>
            <span class = "person">{{first_name}} {{last_name}}</span>
            <button class="btnEvt"></button>
        <span class="cover"></span>
        </span>
    </li>
{{/each}}
