
<div id="container">
    <div id="title">
        <div id="headerText">
            <b>VK Фильтр:</b>
        </div>
    </div>
    <div class="inputs">
        <input type="text" size="40" placeholder="Начни вводить имя друга" id="leftInput">
        <input type="text" size="40" placeholder="Начни вводить имя друга" id="rightInput">
    </div>
    <div class="barContainer">            
        <p class="yourFriends">Ваши друзья</p>
        <div id="leftBar">
            <ul id="leftList" ></ul>
        </div>
    </div>
    <div class="barContainer">
        <p class="yourFriends">Друзья в списке</p>
        <div id="rightBar">
            <ul id="rightList"></ul>
        </div>
    </div>
    <div id="footer">
        <button id="save">Сохранить</button>
    </div>
</div> 